.loader {
	background: none repeat scroll 0 0 #f5f7e8;

	position: fixed;
	top: 0;
	left: 0;

	min-width: 100vw;
	min-height: 100vh;

	z-index: 9999;
}

.loaderInner {
	position: absolute;
	left: 50%;
	top: 50%;

	height: 80px;
	width: 80px;

	margin-top: -40px;
	margin-left: -40px;
}
