.container {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-bottom: 50px;

  min-width: min-content;

  padding: 0px;
}

.upload-file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.upload-file-label {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  height: 50px;
  width: 300px;

  margin: 0 75px;

  border-radius: 10px;
  border: 0;

  font-size: 16px;

  color: var(--white);
  background-color: var(--blue);

  transition: all 0.5s;
}

.container:hover .upload-file-label {
  box-shadow: -10px 10px 15px 0px rgba(0, 0, 0, 0.3);

  transform: translate(5px, -5px);
}

.container:hover .close-btn,
.container:hover .add-btn {
  box-shadow: -10px 10px 15px 0px rgba(0, 0, 0, 0.3);

  opacity: 1;

  right: 0px;

  transform: translate(5px, -5px);
}

.container:hover .add-btn,
.container:hover .upload-file-label + .close-btn {
  right: 35px;
}

.close-btn,
.add-btn {
  position: absolute;

  right: 15px;

  opacity: 0;

  cursor: pointer;

  width: 30px;
  height: 30px;

  background-color: var(--white);

  border: 2px solid var(--blue);
  border-radius: 50%;

  transition: all 0.5s;
}

.add-btn,
.upload-file-label + .close-btn {
  right: 50px;
}

.close-btn::after,
.close-btn::before,
.add-btn::after,
.add-btn::before {
  position: absolute;
  content: '';

  top: 12px;
  left: 6px;

  width: 15px;
  height: 2px;

  transform: rotate(45deg);

  background-color: #000;
}

.close-btn::before,
.add-btn::before {
  transform: rotate(-45deg);
}

.add-btn::before {
  transform: rotate(90deg);
}

.add-btn::after {
  transform: rotate(180deg);
}

.close-btn:hover,
.add-btn:hover {
  background-color: var(--blue);
}

.close-btn:hover::before,
.close-btn:hover::after,
.add-btn:hover::before,
.add-btn:hover::after {
  background-color: var(--white);
}

.error {
  color: var(--red);

  width: 350px;

  text-align: center;

  margin-top: 10px;
  padding-left: 5px;

  font-size: 14px;
}

@media (max-width: 476px) {
  .upload-file-label {
    width: 200px;

    margin: 0 55px;
  }
}
