.container {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-bottom: 50px;

  min-width: 100%;

  padding: 0 50px;
}

.elem {
  position: relative;

  max-width: 400px;
  width: 100%;
  height: 50px;

  transform: translateX(3px);

  background-color: rgba(255, 255, 255, 0);

  border: 0px;
  border-bottom: 1px solid #ffa200;

  text-align: center;

  resize: none;

  transition: 0.5s all;
}

.elem:focus {
  max-width: 100%;
  width: 100%;
  height: 200px;

  padding-left: 15px;
  padding-top: 10px;

  border-radius: 10px;
  border: solid 1px var(--lightBlack);
  background-color: var(--white);

  resize: none;
}

.elem::-moz-placeholder {
  color: var(--fontBlue);
  font-size: 35px;
  font-weight: 400;
}
.elem::-webkit-input-placeholder {
  color: var(--fontBlue);
  font-size: 35px;
  font-weight: 400;
}
.elem:-ms-input-placeholder {
  color: var(--fontBlue);
  font-size: 35px;
  font-weight: 400;
}
.elem::-ms-input-placeholder {
  color: var(--fontBlue);
  font-size: 35px;
  font-weight: 400;
}
.elem::placeholder {
  color: var(--fontBlue);
  font-size: 35px;
  font-weight: 400;
}

.error {
  color: var(--red);

  min-width: 100%;

  text-align: center;

  margin-top: 10px;
  padding-left: 5px;

  font-size: 14px;
}

@media (max-width: 1028px) {
  .container {
    padding: 0 10px;
  }

  .elem {
    max-width: 300px;
  }
}

@media (max-width: 768px) {
  .elem {
    font-size: 25px;

    padding: 0 20px;
  }

  .error {
    font-size: 25px;
  }

  .elem::-moz-placeholder {
    font-size: 25px;
  }
  .elem::-webkit-input-placeholder {
    font-size: 25px;
  }
  .elem:-ms-input-placeholder {
    font-size: 25px;
  }
  .elem::-ms-input-placeholder {
    font-size: 25px;
  }
  .elem::placeholder {
    font-size: 25px;
  }
}

@media (max-width: 425px) {
  .elem {
    font-size: 15px;

    padding: 0 15px;
  }

  .error {
    font-size: 15px;
  }

  .elem::-moz-placeholder {
    font-size: 15px;
  }
  .elem::-webkit-input-placeholder {
    font-size: 15px;
  }
  .elem:-ms-input-placeholder {
    font-size: 15px;
  }
  .elem::-ms-input-placeholder {
    font-size: 15px;
  }
  .elem::placeholder {
    font-size: 15px;
  }
}
