.root {
	display: flex;
	justify-content: center;
}

.container {
	max-width: 1280px;
	width: 100%;
	min-height: calc(100vh - 80px);

	border-left: 2px solid var(--blue);
	border-right: 2px solid var(--blue);

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.title {
	margin-top: 35px;
}

.table {
	background-color: var(--blue);

	padding: 1px 0px;

	min-width: 100%;
}

.bottom {
	min-width: 100%;
}
