.root {
  display: flex;
  justify-content: flex-start;

  max-width: 100%;
  width: 100%;
}

.ceil {
  padding: 20px 10px;

  margin: 1px;

  background-color: var(--white);

  text-align: center;
}

.text {
  max-width: 100%;
  width: 100%;

  overflow: hidden;
  text-overflow: ellipsis;
}

.id {
  flex-basis: 10%;

  max-width: calc(10% - 2px);
}

.name {
  flex-basis: 20%;

  max-width: calc(20% - 2px);
}

.address {
  flex-basis: 45%;

  max-width: calc(45% - 2px);
}

.edit {
  flex-basis: 10%;

  max-width: calc(10% - 2px);
}

.qr-code {
  flex-basis: 15%;

  max-width: calc(15% - 2px);
}

.link {
  text-decoration: underline;

  border: 0px;

  background-color: var(--white);
}

@media (max-width: 1280px) {
  .root {
    max-width: 1024px;
  }
}

@media (max-width: 1044px) {
  .root {
    max-width: 764px;
  }
}
